
/* Contains the main content*/
.flexcontainer{
    /* Use flexbox for a container */
    display:-webkit-flex;
    display:flex;
    
    /* display items row-wise */
    -webkit-flex-direction:column;
    flex-direction:column;
    
    -webkit-align-items:center;
    align-items:center;
    
}
/* Figure this out later
-webkit-box-shadow:0 8px 6px -6px black;
    -moz-box-shadow:0 8px 6px -6px black;
     box-shadow:0 8px 6px -6px black;*/
.flexheader{
    display:-webkit-flex;
    display:flex;
    
    -webkit-flex-direction:row;
    flex-direction:row;
    
    border-bottom-style:ridge;
    border-width:2px;
    border-bottom-color:crimson;
    
    
}

#banner {
    flex:2 1 auto;
}
#social-media {
    flex:0 1 auto;
    
    -webkit-align-self:flex-end;
    align-self:flex-end;
}
.focuscolumn{
    -webkit-flex:0 1 auto;
    flex: 2 0 0;
    order:1;
}

.subfocuscolumn{
    -webkit-flex:0 1 auto;
    flex:1 0 0;
    order:2;
}

#information{
    background:lime;
    width:90%;
    height:70%;
}

#payments{
    background:gold;
    width:90%;
    height:30%;
}

#logo{
    margin:10px;
}

.lightwrapper{
    background:#ecf0f1;
}
/* Footer Attributes */
.darkwrapper{
    color:#FFF;
    background:#7f8c8d;

}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2,p {
    font-family: 'Lato', sans-serif;
}

/* give all items maximum horizontal screen space 
   Using 1 means every item has the same weight */
.header, .main, .nav, .aside, .footer {
    flex:1 100%;
}

html, body, section{
    height:100%;
}

/* Medium/Tablet screens */
@media all and (min-width: 600px) {
.flexcontainer{
      /* Use flexbox for a container */
    display:-webkit-flex;
    display:flex;
    
    /* display items row-wise */
    -webkit-flex-direction:row;
    flex-direction:row;
    
    /* justfies items to the left side of the container */ 
    -webkit-justify-content:space-around;
    justify-content:space-around;
    
}

#information {
    height:100%;
    width:80%;
}

#payments {
    height:100%;
    width:80%;
}
}

/* Large/Desktop screens */
@media all and (min-width: 800px){
    
}