
/* Contains the main content*/
.flexcontainer{
    /* Use flexbox for a container */
    display:-webkit-flex;
    display:flex;
    
    /* display items row-wise */
    -webkit-flex-direction:column;
    flex-direction:column;
    
    -webkit-align-items:center;
    align-items:center;
    
    background-image:url(../weightBG.png);
    
    background-repeat:no-repeat;
}

.flexheader{
    display:-webkit-flex;
    display:flex;
    
    -webkit-flex-direction:row;
    flex-direction:row;
    
    border-bottom-style:ridge;
    border-width:2px;
    border-bottom-color:crimson;
    
    
}

#banner {
    flex:2 1 auto;
}
#social-media {
    flex:0 1 auto;
    
    -webkit-align-self:center;
    align-self:center;
    width:40%;
}
.flexsm {
    display: flex;
    justify-content:space-around;
}
.focuscolumn{
    -webkit-flex:0 1 auto;
    flex: 2 0 0;
    order:1;
}

.subfocuscolumn{
    -webkit-flex:0 1 auto;
    flex:1 0 0;
    order:2;
}

#information{
    color:white;
    width:90%;
    height:70%;
}

#payments{
    color:white;
    width:90%;
    height:30%;
}

#logo{
    margin:10px;
}

.lightwrapper{
   
    

}
/* Footer Attributes */
.darkwrapper{
    color:#FFF;
    background:#2f1c1d;

}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2,p {
    font-family: 'Lato', sans-serif;
}

/* give all items maximum horizontal screen space 
   Using 1 means every item has the same weight */
.header, .main, .nav, .aside, .footer {
    flex:1 100%;
}

html, body, section{
    height:100%;
}

#social-media-large{
    display:none;
}
#social-media-small{
    display:-websit-flex;
    display:flex;
    width:100%;
    justify-content:space-around;
}

/* Medium/Tablet screens */
@media all and (min-width: 600px) {
.flexcontainer{
      /* Use flexbox for a container */
    display:-webkit-flex;
    display:flex;
    
    /* display items row-wise */
    -webkit-flex-direction:column;
    flex-direction:column;
    
    /* justfies items to the left side of the container */ 
    -webkit-justify-content:center;
    justify-content:center;
    
}

#information {
    text-align:center;
    height:100%;
    width:80%;
}

#payments {
    height:100%;
    width:80%;
}
}

/* Large/Desktop screens */
@media all and (min-width: 800px){
    #social-media-large{
    display:-websit-flex;
    display:flex;
    width:100%;
    justify-content:space-around;
}
#social-media-small{
    display:none;
}
}